.game-options {
  justify-content: space-around;
}
.margin-auto {
  margin: auto;
}
.large-font {
  font-size: 3rem;
  font-weight: bold;
  line-height: 3rem;
}
.game-wrapper {
}
.game-container {
  display: grid;
  grid-template-areas:
    "empty game-num-0 game-num-0 empty"
    "game-maths-symbol empty empty empty"
    "empty game-num-1 game-num-1 empty"
    "empty game-form game-form game-tick-cross";
  gap: 10px;
}

.empty {
  grid-area: empty;
}

.game-num-0 {
  grid-area: game-num-0;
}

.game-maths-symbol {
  grid-area: game-maths-symbol;
}

.game-num-1 {
  grid-area: game-num-1;
}

.game-form {
  grid-area: game-form;
}

.game-tick-cross {
  grid-area: game-tick-cross;
}
.game-form input {
  text-align: center;
  padding: 0.5rem;
}
.is-incorrect svg {
  color: var(--color-incorrect);
}
.is-correct svg {
  color: var(--color-correct);
}
