.game-options {
  justify-content: space-around;
}
.margin-auto {
  margin: auto;
}
.large-font {
  font-size: 3rem;
  font-weight: bold;
  line-height: 3rem;
}
.game {
  align-items: center;
}
.game-question-box {
  align-items: end;
}
.game-form {
  margin-top: 2rem;
}
.game-form input {
  text-align: right;
  padding: 0.5rem;
  height: 2rem;
}
.game span {
  padding: 0rem 1rem;
}
.evaluationWrapper {
  width: 0rem;
  transform: translateX(2rem);
}
.is-incorrect svg {
  color: var(--color-incorrect);
}
.is-correct svg {
  color: var(--color-correct);
}
