@media screen and (max-width: 900px) {
  .wrapper {
  background: linear-gradient(to right bottom, var(--color-light), var(--color-mid));
  border-radius: 5px;
  max-width: 100%;
}
}
.wrapper {
  background: linear-gradient(to right bottom, var(--color-light), var(--color-mid));
  border-radius: 5px;
  max-width: 900px; 
  margin: auto;
}
.inner-wrapper {
  width: 75%;
  margin: auto;
}
.btn-wrapper {
 justify-content: flex-end;
 margin-right: 2rem;
}
.margin-left-big {
  margin-left: 4rem;
}
.card {
  justify-content: space-evenly;
  border: 1px solid var(--color-accent-light);
  box-shadow: 0px 1px 10px 1px var(--color-mid);
  margin: 5rem 0rem;
}
.card-heading {
  max-width: 50%;
  transform: translateY(-50px); 
  margin: auto;
}
.card-footer {
  font-size: 1.6rem;
  list-style-type: disc;
  padding-left: 11rem;
}
.greeting {
  color: var(--color-accent-dark);
  font-family: var(--font-handwritten);
  letter-spacing: .3rem;
  font-size: 4.5rem;
  background-color: transparent;
}
.author-image {
  align-self: center;
  border-radius: 100%;
}
.rotated {
  transform: rotate(-15deg );
}