.pagination {
  padding: 3rem;
}
.pagination ul {
  font-size: 2rem;
  justify-content: center;
  cursor: pointer;
}
.pagination ul li {
  padding: 1rem 2rem;
  background-color: var(--color-light);
  border-top: 3px solid var(--color-accent-light);
  border-bottom: 3px solid var(--color-accent-light);
  border-radius: 10px;
  margin-left: 0.5rem;
}
@media (max-width: 450px) {
  .pagination ul li {
    padding: 0.5rem 1rem;
  }
}
.pagination ul li:hover,
.pagination ul li:active {
  font-weight: bold;
  border-top: 3px solid var(--color-accent-dark);
  border-bottom: 3px solid var(--color-accent-dark);
}
.arrow svg {
  color: var(--color-accent-dark);
}
